.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cardWrapper {
  margin-top: 18px;
}
.wrapper {
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
}
.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}
