:root {
  /* Global variables to be defined here */
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.swiper-slide {
  width: auto !important;
}
/* 
input,
button,
textarea,
select {
  font: inherit;
}
p, 
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
} */
