.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  width: 170px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  /* border: 2px solid; */
}
