.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  box-sizing: border-box;
}
